body {
    font-family: Open Sans, sans-serif;
}

.navbar,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: lobster;
}

/* colour palette HSL */
:root {
    --tiffany-blue: hsla(173, 38%, 71%, 1);
    --tea-green: hsla(84, 55%, 83%, 1);
    --cream: hsla(61, 100%, 87%, 1);
    --vanilla: hsla(44, 69%, 75%, 1);
    --eggplant: hsla(333, 28%, 22%, 1);
}

/* navbar style */
.bg-header {
    background-color: var(--eggplant);
}

.bg-main {
    background-color: var(--cream);
}

.navbar-brand {
    color: var(--cream);
    font-size: 1.5rem;
}


.nav-link {
    color: var(--cream) !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar button {
    border: none;
}

/* main section */
section {}

. {
    background-image: url(../images/carousel/pexels-nastyasensei-66707-821365.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-image {
    /* The image used */
    background-image: url(../images/carousel/pexels-nastyasensei-66707-821365.jpg);

    /* Set a specific height */
    height: 70%;
    height: 70vh;
    border-radius: 5px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bg-section {
    background-color: var(--cream);

}

.benefits-image {
    background-image: url(../images/carousel/pexels-pixabay-302457.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 1250px;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* footer style */
.footer-container {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.footer-container a {
    color: var(--cream);
}